@use '../../styles/variables';

.project-card-container {
    width: 332px;
    height: 181px;
    margin: 0 30px 30px 0;
    border: 1px solid variables.$color-light-grey;
    border-radius: variables.$main-radius;
    color: variables.$color-light-grey;
    position: relative;
    cursor: pointer;

    .project-card-wrapper {
        width: 282px;
        height: 141px;
        margin: 20px;

        .title {
            color: variables.$color-dark-grey;
            margin-bottom: 10px;
        }

        .description {
            margin-bottom: 20px;
        }

        .progress-bar {
            display: flex;
            justify-content: start;
            margin-bottom: 22px;
        }

        // .creation-date {}

        .burger-menu {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .favourites {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    &:hover {
        outline: 2px solid variables.$color-dark-grey;
    }
}