@use '../../../styles/variables';

.project-nav {
    height: 45px;

    .project-nav-list {
        display: flex;

        .icon-wrapper {
            margin-right: variables.$margin-menu-elements;
        }

        .nav-item {
            cursor: pointer;
            width: 156px;
            height: 45px;
            box-sizing: border-box;
            @extend %element-position-center;
            margin-right: variables.$margin-menu-elements;
            color: variables.$color-light-grey;
            transition: variables.$transition-time;
            // @extend %icon-color-grey;

            &:hover {
                border-bottom: 3px solid black;
                color: variables.$color-black;
                @extend %icon-color-black;
            }
        }

        .active {
            border-bottom: 3px solid black;
            color: variables.$color-black;
            @extend %icon-color-black;
        }
    }
}