$main-radius: 10px;
$modal-window-radius: 20px;

$margin-menu-elements: 10px;
$transition-time: 100ms;

$color-white: white;
$color-dark-grey: #464646;
$color-light-grey: #9C9C9C;
$color-black: black;
$color-blue: #5E9EFF;
$color-light-red: #FF7474;

%square-button-size {
    width: 45px;
    height: 45px;
}

%rectangle-button-size {
    width: 156px;
    height: 45px;
}

%element-position-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%font-title {
    font-size: 18px;
    font-weight: 600;
}

%font-technical-title {
    font-size: 16px;
    font-weight: 500;
}

%font-content {
    font-size: 16px;
    font-weight: 400;
}

%font-technical-content {
    font-size: 14px;
    font-weight: 400;
}

%icon-color-black {
    path {
        fill: $color-black;
    }
}

%icon-color-grey {
    path {
        fill: $color-light-grey;
    }
}

%icon-color-white {
    path {
        fill: $color-white;
    }
}