$main-radius: 10px;
$modal-window-radius: 20px;

$color-white: white;
$color-dark-grey: #464646;
$color-light-grey: #9C9C9C;
$color-black: black;
$color-blue: #5E9EFF;
$color-light-red: #FF7474;

$font-size-title: 18px;
$font-size-text-content: 16px;
$font-size-technical-info: 14px;