@use '../../styles/variables';

header.header {
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    border-bottom: 1px solid variables.$color-light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    @extend %element-position-center;
    justify-content: flex-start;
    width: 40%;
    height: 45px;
    margin-left: 30px;
    border: 1px solid variables.$color-light-grey;
    border-radius: variables.$main-radius;

    .input-search {
        height: 45px;
        width: 100%;
        background: none;
        border: none;
        outline: 0;
        margin-left: 10px;
        @extend %font-technical-title;
    }

    .search-button {
        width: 45px;
        height: 45px;
        @extend %square-button-size;
        @extend %element-position-center;
        background: none;
        border-radius: variables.$main-radius;
        cursor: pointer;
        @extend %icon-color-grey;

        &:hover {
            @extend %icon-color-black;
        }
    }
}