@use '../../../styles/variables';

%nav-item-position-center {
    max-width: 150px;
    margin: 0 auto;
    line-height: 45px;
    display: flex;
    align-items: center;
}

%nav-item-font {
    @extend %font-technical-title;
    color: variables.$color-light-grey;
}

.aside-nav {
    width: 100%;
    height: 85%;
    @extend %nav-item-font;
    color: variables.$color-light-grey;
}

.main-nav-list {
    height: 80%;
}

.aside-nav-icon {
    height: 45px;
    margin-right: 20px;
    flex-shrink: 0;
}

.item-wrapper {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: variables.$transition-time;


    .nav-item {
        cursor: pointer;
        @extend %nav-item-position-center;
    }

    &:hover {
        color: black;
        border-right: 3px solid;
        color: variables.$color-black;
        @extend %icon-color-black
    }
}

.nav-item-logout {
    height: 20%;
    @extend %nav-item-font
}