@use '../../styles/variables';

.boards-container {
    width: 100%;
    height: calc(100% - 105px);
    overflow: auto;
    @extend %element-position-center;

    .board-container {
        width: 332px;
        height: 100%;

        .board-header {
            height: 45px;
            position: relative;
            @extend %element-position-center;

            .round-mark-to-do {
                position: absolute;
                left: 15px;
                width: 21px;
                height: 21px;
                background: #E67046;
                border-radius: variables.$main-radius;
            }

            .board-title {
                @extend %font-title;
            }
        }

        .board-wrapper {
            border: 1px solid variables.$color-light-grey;
            border-radius: variables.$main-radius;
            width: 100%;
            // height: 663px;
            overflow: auto;
            scrollbar-width: none;

            .tasks-list-wrapper {}
        }
    }
}